.projects {
  width: 100%;
  margin: 50px auto;
}
.desc {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 25px;
}
.projects .selection {
  display: flex;
}
.all {
  display: flex;
  width: 300px;
  /* align-items: center; */
  justify-content: space-around;
  margin-right: 20px;
  padding: 15px 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.7s;
}
.all p {
  font-size: 16px;
}
.all:hover {
  background: #5651e5;
  p {
    color: white;
  }
}
.samples {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.samples img {
  width: 49%;
  border-radius: 12px;
  margin-bottom: 25px;
  background: #fff;
  padding: 8px 5px;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.samples img:hover{
  transform: scale(1.05);
}
