.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 25px auto;
  min-height: 100vh;
}
.hero .catch-phrase {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 150;
}
.hero h3 {
  font-size: 48px;
}
.hero h3 span {
  color: #5651e5;
}
.intro {
  font-size: 32px;
  font-weight: 600;
  margin-top: 10px;
}
.role {
  font-size: 32px;
  color: #5651e5;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 500;
  min-height: 40px;
}
.description {
  line-height: 1.8rem;
  text-align: center;
  max-width: 1000px;
}
.icons {
  margin-top: 35px;
}
.icon {
  font-size: 20px;
  color: #1F2937;
  padding: 20px;
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: 0.5s;
  cursor: pointer;
}
.icon:hover {
  transform: scale(1.1);
}
@media (max-width: 850px) {
  .hero .catch-phrase {
    font-size: 12px;
  }
  .hero h3 {
    margin-top: 15px;
    font-size: 32px;
    text-align: center;
  }
  .intro {
    font-size: 24px;
  }
  .role {
    font-size: 24px;
  }
  .description {
    font-size: 14px;
    line-height: 1.6;
  }
  .icon {
    padding: 10px;
  }
}
