.contact-section {
  display: flex;
  justify-content: space-between;
  margin: 80px auto;
  align-items: center;
}
.left-contact {
  display: inline-block;
  width: 30%;
  padding: 10px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.left-contact img {
  width: 300px;
  border-radius: 13px;
}
.name {
  font-weight: 600;
  font-size: 18px;
}
.contact-title {
  font-weight: 300;
  margin-bottom: 20px;
}
.ideas {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  margin-bottom: 20px;
}
.socials .icon {
  font-size: 14px;
  padding: 18px;
}
.right-contact {
  width: 65%;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.right-contact form {
  display: flex;
  flex-direction: column;
}
